/*Common CSS-------------------------------------*/

* {
    box-sizing: border-box;
    font-family: 'Kaushan Script', cursive;
    margin:0;

}

/*Mobile-------------------------------------*/
@media only screen and (max-width: 570px){
    body{
        background-color: rgb(179, 228, 191);
        text-align: center;
    }
    
    h1{
        height: 100px;
        width: 85%;
        background-color: #7c9473;
        font-size: 1.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 2em auto;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
        border-radius: 10px;
    }
    
    h2{
        height: 100px;
        width: 85%;
        background-color: #7c9473;
        font-size: 1.2em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 2em auto;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
        border-radius: 10px;

    }
    
    p{
        background-color: #7c9473;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 15px;;
        color: black;
    }

}


/*Desktop-------------------------------------*/
@media only screen and (min-width: 571px){
    body{
        background-color: rgb(179, 228, 191);
        font-family: 'Kaushan Script';
        text-align: center;
    }
    
    h1{
        font-family: 'Kaushan Script'
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 2em;
        color: white;
    }
    
    h2{
        font-family: 'Kaushan Script';
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 20px;;
        color: black;
        margin-top: 4%;
    }
    
    p{
        font-family: sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 15px;;
        color: black;
    }
}

.attractions {
    background-color: #94ae8a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2em auto;
    margin-bottom: 10px;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    font-family: 'Kaushan Script';
    height: 160px;
    width: 62%;
}



/*Header CSS---------------------------------------*/


/* THE WHOLE INTERACTIVE NAV BAR AT THE TOP*/
.navbar
{
    background:#7c9473;;
    font-family: 'Kaushan Script', cursive;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    padding:none;
}

.navbar_container
{
    display: flex;
    justify-content: space-between;
    height: 150px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}


#navbar_logo
{
    background: #7c9473;
    background-image: linear-gradient(to top, #7c9473, black);
    background-size: 150%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}


.navbar_menu
{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item
{
    height: 50px;
    border: none;
    font-family: 'Kaushan Script', cursive;
}

.navbar_links
{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 2rem;
    height: 100%;

}


.navbar_links:hover
{
    color: #eaf3e7;
    transition: all 0.5s ease;
}


/*Nav CSS-------------------------------------------*/

nav { grid-area: nav; }
/*Mobile-------------------------------------*/
@media only screen and (max-width: 570px){
    nav{
        background-color: #7c9473;
        text-align:center;
        width:100%;  
    }
    
    label{
        display: block;
        cursor: pointer;
        font-size:28px;
        color: white;
        float:right;
        margin-right: 20px;
        position: relative;
    }
    
    #toggle{
     display: none;
    }

    nav #menu{
        display: none;
        border-radius: 20px;
        width:100%;
        clear: right;
    }
    
    nav ol{
        border:1px solid white;
        border-width:1px 0;
        list-style:none;
        margin:0;
        padding:0;
        text-align:center;  
    }
    
    nav li{
        display:block;
        border: 1px solid white;
        border-radius: 5px;
        padding:5px;   
    }
    
    nav li a {
        font-family: 'Kaushan Script';
        font-style: normal;
        text-decoration: none;
        font-variant: normal;
        font-weight: normal;
        font-size: 1em;
        color:hsl(0,0%,255%);
        display:inline-block;
        padding:10px;
  
    }

    #toggle:checked + #menu{
        display: block;
    }
}

/*Desktop-------------------------------------*/
@media only screen and (min-width: 571px){
    nav{
        background-color: #7c9473;
        text-align:center;
        width:100%; 
    }
    
    label{
        margin: 0 40px 0 0;
        font-size: 26px;   
        text-align: center;
        display: none;
    }
    
    #toggle{
     display: none;
    }
    
    nav ol{
        border:1px solid white;
        border-width:1px 0;
        list-style:none;
        margin:0;
        padding:0;
        text-align:center;
        
    }
    
    nav li{
        display:inline;
        border: 1px solid white;
        border-radius: 5px;;
        padding:5px;
        
        
    }
    
    nav li a {
        font-family: 'Kaushan Script';
        font-style: normal;
        text-decoration: none;
        font-variant: normal;
        font-weight: normal;
        font-size: 1em;
        color:hsl(0,0%,255%);
        display:inline-block;
        padding:10px; 
        
    }
}


footer {
    margin-top: 2em;
    height: 150px;
    width: 100%;
    background-color: #7c9473;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    font-family: 'Kaushan Script';
}

